* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #965D07;
}
body h1{
    text-align: center;
    padding: 5px;
    color: white;
    font-family: Helvetica;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
}

.part1{
    height: 100%;
    width: 40%;
    padding: 30px 30px;
}

.part1 h2{
    color: white;
    text-align: center;
}

.add_data{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightseagreen;
    border-radius: 5px;
}

.add_data form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px 14px;
}

.add_data input{
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
}

.add_data select{
     padding: 15px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
}

.add_data button{
     padding: 15px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: orange;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.add_data button:active{
    scale: 0.97;
}


.part2{
    height: 100%;
    width: 60%;
    background-color:#965D07 ;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    overflow: auto;
    padding-top: 55px;
    gap: 20px;
     align-content: flex-start;
}

.part2 .all_data{
    display: flex;
    background-color: #965D07;
     padding: 6px;
     align-items: flex-start;
     gap: 15px;
     flex-wrap: wrap;
}

.items{
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 10px;
}

.items h3{
    font-size: 25px;
    display: inline-block;
    color: #965D07;
}

.items h4{
    font-size: 20px;
    font-family: monospace;
    color: #0a1c09;
}

.items div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}


.items div button{
    padding: 5px 10px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    font-size: 15px;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
}

.items div button:nth-child(2){
    background-color: red;
}

.items div button:active{
    scale: 0.97;
}